.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #7d2e0d;
  /* height: 8vh; */
  /* display: flex; */
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: calc(10px + 0.5vmin);
  color: white;
  padding-left: 40px;
  padding-right: 40px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

/* Add this rule to style the Link components */
a[href*=""], a[href*=""]:visited, a[href*=""]:hover, a[href*=""]:active {
  text-decoration: none;
  color: inherit;
}

a{
  font-weight: bold;
}